body {
  width: 100vw;
  overflow-x: hidden;
}

div {
  margin: 0 !important;
}

.container-fluid {
  margin: 0px;
  padding: 0px !important;
}

.appBar {
  padding: 10px;
  margin-bottom: 0px;
}

.toolbar {
  padding: 5px !important;
}

.title {
  flex-grow: 1;
  margin-right: 2px;
}

.navLink {
  color: #fff !important;
}

#burgerButton {
  display: none;
}

main {
  margin-top: 10px !important;
}

main h1 {
  text-align: center;
}

@media only screen and (max-width: 576px) {
  #burgerButton {
    display: flex;
  }
  .navLink {
    display: none !important;
  }
}