.svg-number {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transform-origin: center;
  filter: drop-shadow(0 0 2px #fff);
  animation: trace 5s linear forwards, fade 5s linear forwards;
}

@keyframes trace {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.2) rotate(0deg);
  }
  10% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(0.8) rotate(22deg);
  }
}